@media(max-width:1800px) {
    .h1 h1 {
        font-size: 100px;
    }

    .contactTxt {
        font-size: 100px;
    }

    .h1 a {
        font-size: 70px;
    }
}

@media(max-width:1230px) {
    .h1 h1 {
        font-size: 80px;
    }

    .contactTxt {
        font-size: 80px;
    }

    .h1 a {
        font-size: 50px;
    }
}

@media(max-width:992px) {
    .h1 h1 {
        font-size: 70px;
    }

    .h1 a {
        font-size: 50px;
    }

    .hero-img {
        margin-top: 0px;
    }

    .secondar-img {
        margin-left: 0px;
    }

    .secondary-text {
        margin-left: 0px;
    }

    .owl-div:hover img {
        transform: translateY(0px);
    }

    .menu li:hover {
        transform: scaleY(1.6);
        letter-spacing: 9px;
    }

    .btn-overlay {
        font-size: 70px;
        line-height: 70px;
        bottom: -133px;
    }

    .contactTxt {
        font-size: 80px;
        font-weight: 900;
    }
}

@media(max-width:778px) {
    .h1 a {
        display: inline-block;
        font-size: 35px;
    }

    .logo {
        width: 90px;
        top: 10px;
        right: 10px;
    }

    ul li {
        display: block;
    }

    .question-img {
        width: 400px;
    }

    .imageCaraousel {
        height: 50vh;
    }

    .vidBg {
        height: 85vh;
    }
}

@media(max-width:390px) {
    .h1 h1 {
        font-size: 60px;
    }

    .question-img {
        width: 300px;
    }
}